@font-face {
  font-family: "DS-DIGI";
  src: url("DS-DIGI.TTF") format("truetype");
}

body {
  position: relative;
  font-family: "DS-DIGI";
  overflow: hidden;
  display: none;
  top: 0;
  user-select: none;
}


#background {
  height: 1000px;
}


#cursor {
  position: absolute;
  z-index: 999999;
  display: none;
}

#radio {
  width: 367px;
  height: 795px;
  right: 0;
  bottom: 0;
  position: fixed;
}


#onoff {
  position: absolute;
  top: 24%;
  left: 14%;
  right: 0;
  padding: 40px 40px;
  opacity: .0;
}

#onoff button {
  padding: 39px 39px;
  cursor: pointer;
  opacity: .0;
}

#validateF {
  position: absolute;
  top: 75%;
  left: 10%;
  right: 0;
  padding: 40px 40px;
  opacity: .0;
}
#validateF1 button {
  padding: 17px 30px;
  cursor: pointer;
  opacity: .0;
}
#validateF2 button {
  padding: 17px 30px;
  cursor: pointer;
  opacity: .0;
}
#validateF2 {
  position: absolute;
  left: 55%;
  top: 34%;
}

.ekran {
  position: absolute;
  top: 48%;
  left: 26.5%;
  width: 100%;
}

.channel1, .channel2 {
  position: relative;
  top: 80px;
  left: -2%;
  width: 47%;
  border-bottom: 2px solid #003400;
}
.volume {
  position: relative;
  top: 106px;
  left: -2%;
  width: 47%;
  border-bottom: 1px solid #003400;
}

.channel1 input, .channel2 input {
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 34px;
  width: 53%;
  position: inherit;
  left: 45%;
}
input {
  color: #003400;
}
input, input::placeholder {
  font-family: 'DS-DIGI';
}
input::placeholder {
  color:#727272;
}
#submit {
  position: absolute;
  left: 25%;
}
.f1 {
  left: 24px!important;
}
#channelLabel {
  font-size: 32px;
  position: absolute;
  top: 4px;
  left: 10%;
  color: #003400;
}
#volumeLabel {
  font-size: 26px;
  position: absolute;
  left: 8%;
  color: #003400;
}
#volumePercent {
  font-size: 26px;
  position: absolute;
  color: #003400;
  top: 1px;
  left: 84%;
}
.volume input {
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 26px;
  width: 42%;
  position: inherit;
  left: 40%;
}